*  {
    padding: 0;
    margin: 0;
}

body {
    cursor: default;
    display: flex;
    justify-content: center;
    font-family: Tahoma, serif;
}

html {
    background-image: url(./assets/5566879.jpg);
    /*background-image: url(./assets/photoshop.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #061d69;
}

tr td:first-child {
    width: 20px;
}

.content {
    display: flex;
    width: 700px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    font-size: large;
    padding: 6px 12px;
}

td {
    padding: 6px 12px;
}

tr:nth-child(odd) td {
    background-color: #e9eff6;
}

tr:nth-child(even) td {
    background-color: #f8fafd;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.title th {
    color: white;
    padding: 6px 12px;
    background-color: #22419b;
    border-radius: 8px 8px 0 0;
}

.test, .day {
    width: 80%;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 20px;
}

.day:not(:first-child) {
    margin-top: 50px;
}

tr:not(.title):hover td {
    background-color: #c4d8ff;
    transition: 0.25s;
}

tr:not(.title):hover td:first-child {
    border-radius: 8px 0 0 8px;
    transition: 0.25s;
}

tr:not(.title):hover td:last-child {
    border-radius: 0 8px 8px 0;
    transition: 0.25s;
}

tr:not(.title):hover {
    transform: scale(1.2);
    transition: 0.25s;
}

.copy {
    margin-top: 100px;
    color: #061d69;
}